@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Asp.Net Core Container App</h1>
    <h2 class="display-4">This app is running in a continer</h2>
    
</div>
